name: Latest Dev.to Blog Posts

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://dev.to/feed/maurya-sachin"
          max_post_count: 3
          committer_username: "maurya-sachin"
          committer_email: "123874179+maurya-sachin@users.noreply.github.com"
