name: Format README

on:
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: creyD/prettier_action@v4
        with:
          prettier_options: "--write README.md"
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-format README"
