name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: maurya-sachin
          outputs: dist/github-contribution-grid-snake.svg

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit snake to repo (so contribution counts)
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update contribution snake"
          commit_user_name: "maurya-sachin"
          commit_user_email: "sachinmaurya1710@gmail.com"
